$notosans: 'noto_sans';
$opensans: 'opensans';

$blue_logo: #2196E6;
$black: #000;
$white: #fff;
$light-grey: #f8f8f8;

$mt-news: #00CC33;
$mt-catalog: #9966FF;
$mt-reviews: #2196E6;
$mt-video: #c00;
$mt-discounts: #FF3300;
$mt-blog: #FFCC33;

$youtube: #c00;
$instagram: #fba54c;
$vk: #4C75A3;
$telegram: #26a3e3;
$facebook: #3b579d;
$twitter: #41abe1;

$samsung: #1428a0;
$apple: #fff;
$xiaomi: #FF6900;
$redmi: rgba(200,98,200,1);
$poco: #FFD403;
$blackshark: #4EAD33;
$realme: #ffc915;
$vivo: #0072b8;
$oppo: #006b33;
$oneplus: #EA0029;
$iqoo: #eeb311;
$nokia: #1c4598;
$asus: #00539b;
$motorola: blue;
$sony: #ddd3ca;
$meizu: #21bbef;
$honor: #00c0f1;
$huawei: #D0122E;
$google: rgba(57,179,94,1);
$zte: #00bffe;


